html, body, #root {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    height: 100vh; /* Full viewport height */
}

form {
    margin-bottom: 20px;
}
